{%- style -%}
#buldorderworks{{ section.id }}{ margin-top:{{section.settings.margin-top-desktop}}px; margin-bottom:{{section.settings.margin-bottom-desktop}}px; background:{{section.settings.bgcolor}}; }
#buldorderworks{{ section.id }} .contentwrapper{padding-top:24px;padding-bottom:24px;}
#buldorderworks{{ section.id }} .contentwrapper .contentwrapper_inner{ display: grid;
  grid-template-columns: auto auto auto; column-gap:52px;}
#buldorderworks{{ section.id }} .contentwrapper h2{
font-size: clamp(18px, calc(24*(100vw / var(--viewportDesktop))), 36px);
line-height: clamp(28px, calc(32*(100vw / var(--viewportDesktop))), 34px);color: #462D8C;padding-bottom:24px;
}
#buldorderworks{{ section.id }} .content_grid{border: 1px solid #54545657; position:relative;}
#buldorderworks{{ section.id }} .content_grid .gridfooter{padding: 8px 24px; position:absolute;left:16px;bottom:12px;right:16px; z-index:1; background:{{section.settings.contentbgcolor}}; }
#buldorderworks{{ section.id }} .content_grid .gridfooter h5{font-family: Heebo-Medium;margin:0px;
font-size: clamp(12px, calc(16*(100vw / var(--viewportDesktop))), 18px);text-align:center;
line-height: clamp(18px, calc(24*(100vw / var(--viewportDesktop))), 26px);font-weight: 500;color: #000000;letter-spacing: 0.0015em;
}
#buldorderworks{{ section.id }} .content_grid .gridfooter p{font-family: Heebo-Regular;margin:0px;
font-size: clamp(11px, calc(12*(100vw / var(--viewportDesktop))), 14px);text-align:center;
line-height: clamp(18px, calc(18*(100vw / var(--viewportDesktop))), 20px);font-weight: 400;color: #48464C;padding-top:0px;letter-spacing: 0.004em;
}  
#buldorderworks{{ section.id }} .contentwrapper .ctabuttonbox{ display: grid;
  grid-template-columns:calc(33.33% - 35px) calc(33.33% - 35px) calc(33.33% - 35px); column-gap:52px;}
#buldorderworks{{ section.id }} .contentwrapper .ctabuttonbox>div{display:block;}
#buldorderworks{{ section.id }} .contentwrapper .ctabuttonbox .buttoncta a{
  background: #462D8C;font-family: Heebo-Medium;color:#ffffff;
font-size: clamp(14px, calc(16*(100vw / var(--viewportDesktop))), 18px);text-align:center;
line-height: clamp(20px, calc(24*(100vw / var(--viewportDesktop))), 26px);font-weight: 500;letter-spacing: 0.001em; padding:6.5px 10px; margin-top:24px;
display: flex;column-gap: 5px;
    align-items: center;   
    justify-content: center;text-decoration: none !important;
}
#buldorderworks{{ section.id }} .contentwrapper .ctabuttonbox .buttoncta a span{display:flex;items-align:center;}

@media screen and (max-width:1024px){
#buldorderworks{{ section.id }} .contentwrapper .contentwrapper_inner{ display: grid;
  grid-template-columns: auto auto auto; column-gap:24px;}
#buldorderworks{{ section.id }} .contentwrapper .ctabuttonbox{ display: grid;
  grid-template-columns:calc(33.33% - 16px) calc(33.33% - 16px) calc(33.33% - 16px); column-gap:24px;}
}
@media screen and (max-width:900px){
    #buldorderworks{{ section.id }} .contentwrapper .contentwrapper_inner{ display: grid;
  grid-template-columns: auto; column-gap:24px; row-gap:24px;}
   #buldorderworks{{ section.id }} .contentwrapper .ctabuttonbox{ display: grid;
  grid-template-columns:auto; column-gap:0px;}
}
  
@media screen and (max-width: 749px) {
   #buldorderworks{{ section.id }}{ margin-top:{{section.settings.margin-top-mobile}}px; margin-bottom:{{section.settings.margin-bottom-mobile}}px; } 
  #buldorderworks{{ section.id }} .contentwrapper .contentwrapper_inner{ display: grid;
  grid-template-columns: auto; column-gap:24px; row-gap:24px;}
   #buldorderworks{{ section.id }} .contentwrapper{padding-top:12px;padding-bottom:12px;} 
  #buldorderworks{{ section.id }} .contentwrapper h2{padding-bottom:12px;}
  #buldorderworks{{ section.id }} .contentwrapper .ctabuttonbox{ display: grid;
  grid-template-columns:auto; column-gap:0px;}
  #buldorderworks{{ section.id }} .contentwrapper .ctabuttonbox .buttoncta a{margin-top:12px;}
 #buldorderworks{{ section.id }} .content_grid .gridfooter{background:{{section.settings.contentbgcolormob}}; }
}
{%- endstyle -%}
<div id="buldorderworks{{ section.id }}" class="{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %} ">
 <div class="contentwrapper page-width">
  {% if section.settings.heading %} <h2 class="first-line-home font-heebo-medium">{{ section.settings.heading }}</h2> {% endif %}
   <div class="contentwrapper_inner">
       {%- for block in section.blocks -%}
        {%- if block.settings.image != blank -%}
      <div class="content_grid">
    <div class="media">
      {%-liquid
        assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
          assign sizes = "100vw"
       if forloop.index0 == 0 
        assign lazy = 'eager' 
       assign fetch_priority = 'high' 
      assign preload = true 
       assign decoding = 'sync' 
      else 
     assign lazy = 'lazy'
      assign fetch_priority = 'auto' 
      assign preload = false 
      assign decoding = 'async'                   
       endif 
      -%}
      
        {%  assign mob_desk = block.settings.image.alt | default: 'desktop-banner-image-' | append: forloop.index %}
        
      {{ block.settings.image | image_url: width: 500 , format: 'webp' | image_tag:
        loading: lazy,
        fetchpriority: fetch_priority, 
        preload: preload, 
        decoding: decoding,
        width: block.settings.image.width,
        height: image_height,
        class: image_class,
        sizes: sizes,
        widths: '375, 550, 750',
        alt: mob_desk
      }}
    
    </div>
     <div class="gridfooter">
      {% if block.settings.title %}  <h5>{{ block.settings.title }}</h5> {% endif %}
       {% if block.settings.text %} <p>{{ block.settings.text }}</p>{% endif %}
      </div>
 
      </div>
 {%- endif -%}
 {%- endfor -%}

    </div>

{% if section.settings.urlcta != blank %}
<div class="ctabuttonbox">
  <div></div><div class="buttoncta"><a 
                                      {% if section.settings.urlcta != blank %} href="{{ section.settings.urlcta }}" {% endif %}
                                      >
    <span>{{ section.settings.buttontext }}</span>
  <span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
<g id="icon" clip-path="url(#clip0_4198_2694)">
<path id="Vector" d="M5.94917 18.4525L7.57167 20.075L16.6467 11L7.57167 1.925L5.94917 3.5475L13.4017 11L5.94917 18.4525Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_4198_2694">
<rect width="22" height="22" fill="white"/>
</clipPath>
</defs>
</svg></span>
  </a>
  </div><div></div>
</div>
{% endif %}
  </div>
  
</div>

{% schema %}
{
  "name": "Buld order works",
  "tag": "section",
  "class": "section",
  "settings": [   
   
    {
      "type": "range",
      "id": "margin-top-desktop",
      "min": 0,
      "max": 100,
      "step":1,
      "unit": "px",
      "label": "Desktop margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin-bottom-desktop",
      "min": 0,
      "max": 100,
      "step":1,
      "unit": "px",
      "label": "Desktop margin bottom",
      "default": 0
    },

    {
      "type": "range",
      "id": "margin-top-mobile",
      "min": 0,
      "max": 100,
      "step":1,
      "unit": "px",
      "label": "Mobile margin top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin-bottom-mobile",
      "min": 0,
      "max": 100,
      "step":1,
      "unit": "px",
      "label": "Mobile margin bottom",
      "default": 0
    },  
    {
          "type": "text",
          "id": "heading",         
          "label": "Heading"
      },
    {
          "type": "color",
          "id": "bgcolor",         
          "label": "Background color",
          "default":"#F2F2F7"
      },
    {
          "type": "color",
          "id": "contentbgcolor",          
          "label": "Content BG color",
           "default":"#f7f7f7"
        },
     {
          "type": "color",
          "id": "contentbgcolormob",          
          "label": "Content BG color Mobile",
           "default":"#ffffff"
        },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    }
    ,
    {
      "type": "header",
      "content": "CTA Button"
    },
     {
      "type": "text",
      "id": "buttontext",
      "default": "Start Your Order",
      "label": "CTA Button Text"
    },
    {
      "type": "url",
      "id": "urlcta",     
      "label": "URL for Redirection"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Image with Text",  
      "limit": 3,
      "settings": [

   {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Image"
    },  
        {
          "type": "text",
          "id": "title",
          "default": "Title",
          "label": "Title"
        },
         {
          "type": "text",
          "id": "text",          
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        }
         
      ]
    }
    
    
  ],  
  "presets": [
    {
      "name": "Buld order works"
    }
  ]
}
{% endschema %}
