<link rel="stylesheet" href="{{ 'helping-cards-stylesheet.css' | asset_url }}">

<div class="helping-cards-section">
	<div class="contact-breadcrumbs">
		<p>Home</p>
		<p>/</p>
		<p>Contact Us</p>
	</div>
  <div class="helping-cards-container">
    {% if section.settings.heading != blank %}
      <h1 class="helping-cards-heading">Hello{% if customer.first_name != blank %} {{customer.first_name}}{% endif %}, {{ section.settings.heading }}</h1>
    {% endif %}

    <div class="helping-cards-grid">
      {% for block in section.blocks %}
        <a href="{{ block.settings.link_url }}" class="helping-card" {{ block.shopify_attributes }}>
          <div class="helping-card-icon">
            {{ block.settings.icon_svg }}
          </div>
          <h3 class="helping-card-title">{{ block.settings.title }}</h3>
          {% if block.settings.link_url != blank %}
            <span href="{{ block.settings.link_url }}" class="helping-card-link">
              {{ block.settings.link_text }}
			        {{ block.settings.link_icon_svg }}
            </span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Helping Cards",
  "class": "helping-cards-parent",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Hello, how can we help?"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Help Card",
      "settings": [
        {
          "type": "html",
          "id": "icon_svg",
          "label": "Icon SVG",
          "info": "Paste your SVG code here"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Card Title",
          "default": "Card Title"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Learn More"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
		 {
          "type": "html",
          "id": "link_icon_svg",
          "label": "Link Icon SVG"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Helping Cards"
    }
  ]
}
{% endschema %}
