{{ 'home-continous.css' | asset_url | stylesheet_tag }}
<style>
#top-conti-{{ section.id }} .swiper:not(.swiper-initialized) .swiper-wrapper{width:100%;height:auto;}  
#top-conti-{{ section.id }} .swiper:not(.swiper-initialized) .swiper-slide{display:none;}
#top-conti-{{ section.id }} .swiper:not(.swiper-initialized) .swiper-slide:first-child{display:block;} 
 .top-conti{
    margin-top:{{ section.settings.marginTopticker }}px;
    margin-bottom:{{ section.settings.marginBottomTicker }}px;
  }
  @media screen and (max-width: 640px){
    .top-conti{
      margin-top:{{ section.settings.marginToptickermob }}px;
      margin-bottom:{{ section.settings.marginBottomtickermob }}px;
    }
  }
</style>
<div class="top-conti" id="top-conti-{{ section.id }}">
  <div class="sliderCont page-width swiper">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
        <h3 class="swiper-slide" data-swiper-autoplay="0"> 
          {{ block.settings.textCont }}
        </h3>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  window.addEventListener(
    'DOMContentLoaded',
    () => {
      const swipercont = new Swiper('#top-conti-{{ section.id }} .sliderCont', {
        loop: true,
        speed: 10000,
        slidesPerView: 4,
        spaceBetween: 0,
        allowTouchMove: false,
        breakpoints: {
          0: {
            loop: true,
            slidesPerView: 1.1,
            spaceBetween: 5,
          },
          350: {
            loop: true,
            slidesPerView: 1.3,
            spaceBetween: 5,
          },
          640: {
            loop: true,
            slidesPerView: 4,
          },
          2200: {
            loop: true,
            slidesPerView: 3,
          },
        },
      });

       function startAutoplay1() {
              if (swipercont) {
                  swipercont.autoplay.start();                
              }
          }
        document.addEventListener('mousemove', startAutoplay1);
        document.addEventListener('touchstart', startAutoplay1);      
    },
    { once: true }
  );
</script>
{% schema %}
{
  "name": "Ticker text",
  "settings": [
    {
      "type": "range",
      "id": "marginTopticker",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Desktop : Margin-Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "marginBottomTicker",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Desktop : Margin-Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "marginToptickermob",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile : Margin-Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "marginBottomtickermob",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile : Margin-Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "Text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "textCont",
          "label": "Enter Text"
        }
      ]
    }
  ],
  "presets": [{ "name": "Ticker textCont" }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
