{% style %}
    .labtested-section.{{ section.id }}{
        padding-top: {{ section.settings.margin_top_desktop }}px;
        padding-bottom: {{ section.settings.margin_bottom_desktop }}px;
    }
    @media only screen and (max-width: 749px){
        .labtested-section.{{ section.id }}{
            padding-top: {{ section.settings.margin_top_mobile }}px;
            padding-bottom: {{ section.settings.margin_bottom_mobile }}px;
        }
    }
{% endstyle %}
<style>
    .labtested-section .block-container-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 28px;
        padding: 0 12px;
    }
    .inner-container-block{
        text-align: center;
    }
    .labtested-section h2.heading {
        font-family: 'Heebo-Medium';
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #462D8C;
    }
    .labtested-section p.subheading{
        font-family: 'Heebo-Regular';
        font-size: 14px;
        line-height: 20px;
        color: #4C5460;
        margin: 0;
    }
    .inner-container-block p {
        line-height: 24px;
        font-family: 'Heebo-Regular';
        font-size: 16px;
        margin: 0;
        color: #4C5460;
    }
    .inner-container-block svg {
        width: 64px;
        height: 64px;
    }
    .inner-container-block {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    @media only screen and (max-width: 749px){
        .labtested-section .block-container-main{
            display: grid;
            grid-template-columns: repeat(2, auto);
            align-items: center;
            gap: 41px;
            margin-top: 16px;
            padding: 0;
        }
        .inner-container-block{
            width: 34.615vw;
            padding: 0 12px;
        }
        .labtested-section h2.heading{
            font-size: 14px;
            line-height: 20px;
            color: #333B48;
        }
        .inner-container-block svg{
            width: 44px;
            height: 44px;
        }
        .inner-container-block p{
            font-size: 12px;
            line-height: 17.1px;
        }        
        .labtested-section p.subheading{
            font-size: 16px;
            line-height: 24px;
            margin-top: 8px;
        }
        .inner-container-block.index-1, .inner-container-block.index-3 {
            align-items: flex-start;
            text-align: left;
        }
        .inner-container-block.index-2, .inner-container-block.index-4 {
            align-items: flex-start;
            text-align: left;
        }
    }
</style>
<div class="labtested-section {{ section.id }} page-width">
    <h2 class="heading">{{ section.settings.heading_text }}</h2>
    <p class="subheading">{{ section.settings.subheading_text }}</p>
    <div class="block-container-main">
        {% for block in section.blocks %}
            <div class="inner-container-block index-{{ forloop.index }}">
                {{ block.settings.block_svg }}
                <p>{{ block.settings.block_heading }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% schema %}
{
    "name": "Lab Tested Section",
    "settings": [
        {
            "type": "text",
            "id": "heading_text",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "subheading_text",
            "label": "Sub heading"
        },
        {
            "type": "range",
            "id": "margin_top_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding Top Desktop",
            "default": 48
        },
        {
            "type": "range",
            "id": "margin_bottom_desktop",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding Bottom Desktop",
            "default": 48
        },
        {
            "type": "range",
            "id": "margin_top_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding Top Mobile",
            "default": 24
        },
        {
            "type": "range",
            "id": "margin_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Padding Bottom Mobile",
            "default": 24
        }
    ],
    "blocks": [
        {
            "type": "block",
            "name": "block",
            "limit": 4,
            "settings": [
                {
                    "type": "text",
                    "id": "block_heading",
                    "label": "Heading"
                },
                {
                    "type": "html",
                    "id": "block_svg",
                    "label": "SVG"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Lab Tested Section"
        }
    ]
}
{% endschema %}